*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
max-width: 1600px;
width: 100%;
background-color: #1A0B2E;

}

.font {
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* navbar */
.top-container{
width: 100%;
padding: 20px;
color: aliceblue;
background-color: #1A0B2E;
opacity: 100%;
display: flex;
align-items: center;
justify-content: space-around;

}
.wave{

    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;
  
}
.Middle{
list-style-type: none;
display: flex;
gap:20px;
font-size: 16px;
font-weight: 500;

}
.button-arrow{

    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
display: inline-flex;
align-items: center;
padding: 5px 15px;
border: none;
border-radius:10px;
}

.hero-bg{
  
  height: 750px;
background-image: url("../B13-A02-TechWave/assets/hero-bg.png");
background-size: contain;
text-align: center;
padding-top: 80px;border: 1px solid red;




}
.hero-pic{
border: 1px solid greenyellow;



}

.extra-div{
position: relative;


}

.circle-Top{
  width: 75px;
  height: 38px;
  color: #1A0B2E;
  background-color: #00FF88;
  padding: 10px;
  border-radius: 10000px;
  position: absolute;
  top:20px;
  left: 800px;
  /* margin: 0 auto; */

  

}
.hero-microphone{

position: absolute;
top: 84px;
left: 655px;




}
.hero-description{
margin-top: 40px;

}

.hero-head{
font-size: 60px;
font-weight: bolder;
color: #FFFFFF;
padding-bottom: 8px;

}

.hero-paragraph{

font-size: 16px;
font-weight: lighter;
color:#FFFFFF;



}

.botton{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
margin-top: 20px;

}




.spotify{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
padding: 12px 20px;
border: none;
border-radius: 10000px;

}

.Email{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
color:#00FF88;
padding: 12px 20px;
background-color: transparent;
border: 1px solid #00FF88;
border-radius: 10000px;


}

/* podcast */

.contain-podcast{

margin-top: 50px;
padding: 50px;
text-align: center;
color: #FFFFFF;
border: 1px solid yellowgreen;
width: 80%;

margin: 0 auto;


}

.podcast-head{
font-size: 48px;
font-weight: bold;
margin-bottom: 15px;

}
.podcast-paragraph{

line-height: 30px;
/* font-size: 16px; */
font-weight: lighter;


}

/* Stat */

.statistic{

margin-top: 80px;
display: flex;
justify-content: space-between;
padding-bottom: 120px;
width: 80%;

margin: 80px auto 0px auto;

}
.statistic h1{
color: #00FF88;
font-size: 48px;

}

.statistic p{
  line-height: 20px;
color: #FFFFFF;

}

/* box */
.Premium-Audio-Quality{
  grid-area: Premium-Audio-Quality;
}
.Mobile-Friendly{
  grid-area: Mobile-Friendly;
}
.Global-Community{
grid-area: Global-Community;

}
.Exclusive-Interviews{
  grid-area: Exclusive-Interviews;
}
.Rich-Resources{
  grid-area: Rich-Resources;
}

.box-table{
  color: #FFFFFF;
  display: grid;
  
  background-color: #230E3D;
  gap:20px;
  
  
grid-template-areas: 
"Premium-Audio-Quality Mobile-Friendly Mobile-Friendly"
"Premium-Audio-Quality Mobile-Friendly Mobile-Friendly"
"Premium-Audio-Quality Global-Community Global-Community"
"Premium-Audio-Quality Global-Community Global-Community"
"Exclusive-Interviews Exclusive-Interviews Rich-Resources"
"Exclusive-Interviews Exclusive-Interviews Rich-Resources"



}
.Premium-Audio-Quality, .Mobile-Friendly, .Global-Community, .Exclusive-Interviews, .Rich-Resources{
  background-color: #351165;
}
.box-container{
color: #FFFFFF;
border: 1px solid red;
/* margin-top: 20px; */
/* padding: 150px; */
width: 80%;
margin: 0 auto;



}


.box-paragraph{ font-size: 48px; font-weight: bold; text-align: center; padding-bottom: 30px;}

.box-table img,h4,p{
padding-bottom: 16px;


}
.box-table p{
line-height: 30px;


}
.box-table h4{
padding-bottom: 16px;
font-size: 24px;
font-weight: bold;

}
.box-table div{

padding: 40px;
border-radius: 40px;



}

/* Feature */

.contain-feature{

border: 1px solid rebeccapurple;



}
.clock{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;


}
.contain-feature iframe{
  width: 100%;
  height: 224px;
}
.contain-feature h4{
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}
.contain-feature p{
  padding: 14px;
  line-height: 24px;
}

.card{
color: #FFFFFF;
border: 1px solid red;
text-align: center;
border-radius: 24px;


}
.feature-card{
  border: 1px solid yellowgreen;
display: flex;
justify-content: space-between;
align-items: center;

width: 80%;

margin: 0 auto;



}

.card iframe img{
background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  
  

}

/* Host-Part */

.Host-contain{
color: #FFFFFF;
margin-top: 120px;

border: 1px solid red;
height: 380px;
width: 80%;

margin: 120px auto;

}
.Host-head{
font-weight: bold;
font-size: 48px;
padding-bottom: 40px;
text-align: center;



}
.Host-part{
display: flex;
justify-content: center;
align-items: center;
gap: 50px;


}
.Host-name{
font-size: 32px ;
font-weight: bold;
padding-bottom: 20px;


}
.Host-paragraph{
 line-height: 30px;
 opacity: .6;


}

.Host-icon{
display: flex;
align-items: center;
gap: 20px;


}

/* Footer  */

/* .Techwave{

  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;

  
} */
 .foot-contain
 {
 width: 80%;

margin: 120px auto;
text-align: center;
background-image: url("../B13-A02-TechWave/assets/footer-bg.png");
height: 420px;

 }
.Techwave{
  color: #FFFFFF;
  


}

.footer-icon{
  /* color: #FFFFFF; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  gap: 5px  ;
  
  
} 
.Footer-icon-part{
  display: flex; 
   justify-content: center; 
  align-items: center;
  color: #FFFFFF;
  gap: 8px  ;
  margin-top: 32px;
  margin-bottom: 32px;
 
border: 1px solid green;

}
.footer-icon img{
border: 1px solid green;

}
.footer-icon p{
border: 1px solid gold;
color: #FFFFFF;

}
.copy{
color: #FFFFFF;
line-height: 24px;

}

