*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{

background-color: #1A0B2E;

}

.font {
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* navbar */
.top-container{
width: 100%;
padding: 20px;
color: aliceblue;
background-color: #1A0B2E;
opacity: 100%;
display: flex;
align-items: center;
justify-content: space-around;

}
.Techwave{

  font-weight: bolder;
  font-size: 25px;

  
}

.wave{

    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;
  
}
.Middle{
list-style-type: none;
display: flex;
gap:20px;
font-size: 16px;
font-weight: 500;

}
.button-arrow{

    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
display: inline-flex;
align-items: center;
padding: 5px 15px;
border: none;
border-radius:10px;
}

.hero-bg{
  
  height: 750px;
background-image: url("../B13-A02-TechWave/assets/hero-bg.png");
background-size: contain;
text-align: center;
padding-top: 80px;





}
/* .hero-pic{
border: 1px solid greenyellow;



} */

.extra-div{
position: relative;


}

.circle-Top{
  width: 75px;
  height: 38px;
  color: #1A0B2E;
  background-color: #00FF88;
  padding: 10px;
  border-radius: 10000px;
  position: absolute;
  top:20px;
  left: 800px;
  

  

}
.hero-microphone{

position: absolute;
top: 84px;
left: 655px;




}
.hero-description{
margin-top: 40px;

}

.hero-head{
font-size: 60px;
font-weight: bolder;
color: #FFFFFF;
padding-bottom: 8px;

}

.hero-paragraph{

font-size: 16px;
font-weight: lighter;
color:#FFFFFF;



}

.botton{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
margin-top: 20px;

}




.spotify{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
padding: 12px 20px;
border: none;
border-radius: 10000px;

}

.Email{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
color:#00FF88;
padding: 12px 20px;
background-color: transparent;
border-radius: 10000px;


}

/* podcast */

.contain-podcast{

margin-top: 50px;
padding: 50px;
text-align: center;
color: #FFFFFF;
width: 80%;
margin: 0 auto;


}

.podcast-head{
font-size: 48px;
font-weight: bold;
margin-bottom: 15px;

}
.podcast-paragraph{

line-height: 30px;

font-weight: lighter;


}

/* Stat */

.statistic{

margin-top: 80px;
display: flex;
justify-content: space-between;
padding-bottom: 120px;
width: 80%;

margin: 80px auto 0px auto;

}
.statistic h1{
color: #00FF88;
font-size: 48px;

}

.statistic p{
  line-height: 20px;
color: #FFFFFF;

}

/* box */
.Premium-Audio-Quality{
  grid-area: Premium-Audio-Quality;
}
.Mobile-Friendly{
  grid-area: Mobile-Friendly;
}
.Global-Community{
grid-area: Global-Community;

}
.Exclusive-Interviews{
  grid-area: Exclusive-Interviews;
}
.Rich-Resources{
  grid-area: Rich-Resources;
}

.box-table{
  color: #FFFFFF;
  display: grid;
  
  /* background-color: #230E3D; */
  gap:20px;
  width: 80%;
  margin: 0 auto;
  
  
grid-template-areas: 
"Premium-Audio-Quality Mobile-Friendly Mobile-Friendly"
"Premium-Audio-Quality Mobile-Friendly Mobile-Friendly"
"Premium-Audio-Quality Global-Community Global-Community"
"Premium-Audio-Quality Global-Community Global-Community"
"Exclusive-Interviews Exclusive-Interviews Rich-Resources"
"Exclusive-Interviews Exclusive-Interviews Rich-Resources"



}
.Premium-Audio-Quality, .Mobile-Friendly, .Global-Community, .Exclusive-Interviews, .Rich-Resources{
  background-color: #351165;
}
.box-container{
color: #FFFFFF;
width: 80%;
margin: 0 auto;
 background-color: #230E3D;
 width: 100%;
 padding: 120px 0px 120px 0px;

}


.box-paragraph{ font-size: 48px; font-weight: bold; text-align: center; padding-bottom: 30px;}

.box-table img,h4,p{
padding-bottom: 16px;


}
.box-table p{
line-height: 30px;


}
.box-table h4{
padding-bottom: 16px;
font-size: 24px;
font-weight: bold;

}
.box-table div{

padding: 40px;
border-radius: 40px;



}

/* Feature */

.contain-feature{
margin-top: 20px;


}
.feature-head{
color: #FFFFFF;
padding-top: 120px;
text-align: center;
font-size: 48px;
}

.clock{
display: flex;
align-items: center;
gap: 5px;
padding: 0px 24px 24px 15px ;

}

.contain-feature iframe{
  width: 100%;
  height: 224px;
}
.Card-Head{
  padding: 24px 24px 0px 15px ;
  font-size: 22px;
  font-weight: bold;
}
.contain-feature p{
  padding: 0px 15px 15px 15px;
  line-height: 24px;
  font-size: 16px;
  opacity: .6;
}

.card{
color: #FFFFFF;
border-radius: 24px;
background-color: #250D44;


}
.feature-card{
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin: 0 auto;
margin-top: 40px;
column-gap: 20px ;

}

.card iframe{

border-radius: 20px 20px 0px 0px ;
}



/* Host-Part */

.Host-contain{
color: #FFFFFF;
margin-top: 120px;
height: 380px;
width: 80%;
margin: 120px auto;

}
.Host-head{
font-weight: bold;
font-size: 48px;
padding-bottom: 40px;
text-align: center;

}

.Host-image img{

padding-left: 17px;

}


.Host-part{
display: flex;
justify-content: space-between;
align-items: center;
gap: 50px;
background-color: #351165;
border-radius: 10px;
height: 280px;

}
.Host-name{
font-size: 32px ;
font-weight: bold;
padding-bottom: 20px;


}
.Host-paragraph{
 line-height: 30px;
 opacity: .6;


}

.Host-icon{
display: flex;
align-items: center;
gap: 20px;


}

/* Footer  */
footer{
  background-image: url("../B13-A02-TechWave/assets/footer-bg.png");
  background-size: contain;
  width: 100%;
  height: 420px;

}


.Techwave2{

  color: #FFFFFF;
  font-size: 40px;
}

 .foot-contain
 {
 

margin-top: 120px;
text-align: center;
height: 420px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

 }


.footer-icon{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px  ;
  
  
} 
.Footer-icon-part{
  display: flex; 
   justify-content: center; 
  align-items: center;
  color: #FFFFFF;
  gap: 30px  ;
  margin-top: 25px;
  margin-bottom: 32px;

}
.Footer-icon-part span{
  opacity: .6;
}

.footer-icon p{

color: #FFFFFF;

}
.copy{
color: #FFFFFF;
line-height: 24px;
margin-top: 32px;
opacity: .6;

}

/* Responsive Design */


@media screen and (max-width:440px) {


body{

  max-width: 440px;
width: 80%;

}
.nav{width: 80%;}

.Techwave{font: size 10px; }



.Middle, .button-arrow{display: none;}
.statistic{display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 10px;

}
.box-container{
width: 80%;

}
.box-paragraph{ font-size: 25px; }
.box-table{
  
   
grid-template-areas: 
"Premium-Audio-Quality"
"Mobile-Friendly"
"Global-Community"
"Exclusive-Interviews"
"Rich-Resources"

}









.feature-card{
display: grid;
gap: 20px ;
grid-template-columns: repeat(1,1fr)

}
.Host-contain{

width: 80%;
}

.Host-part{
  display: grid;
  grid-template-rows: repeat(2,1fr);




}



footer{
  
background-repeat: no-repeat;
background-size: cover;
width: 80%;
margin: 0 auto;



}
/* .foot-contain{

width: %;
width: 80%;


} */
.Footer-icon-part{

  display: grid;
  grid-template-columns: repeat(2,1fr);


}




  
}